/*-----------------------------------------------------------------------------------*/
/*
/*      Built with Blocs
/*-----------------------------------------------------------------------------------*/

body{
	margin:0;
	padding:0;
    background:#FFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
}
a:hover{text-decoration: none; cursor:pointer;}







/* Globals type styling */


@font-face {
    font-family: 'daxwidemedium';
    src: url('fonts/DaxWide-Medium-webfont.eot');
    src: url('fonts/DaxWide-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DaxWide-Medium-webfont.woff2') format('woff2'),
         url('fonts/DaxWide-Medium-webfont.woff') format('woff'),
         url('fonts/DaxWide-Medium-webfont.ttf') format('truetype'),
         url('fonts/DaxWide-Medium-webfont.svg#daxwidemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
 h1, h2, h3, h4, h5, h6, p, label, .btn, a, li{
    font-family:"daxwidemedium";
}


/* Site container width */

.container{
	width:100%;
}

/* Blocs */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding;
	0 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/* Bloc sizes */

.bloc-lg{
	padding:100px 20px;
}
.bloc-lgg {
	padding: 50px 20px;
}
.bloc-sm{
	padding:20px 20px;
}
.bloc-sm-feat{
	padding:0px 20px;
}


/* Bloc - Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc h1, .d-bloc h2, .d-bloc h3, .d-bloc h4,.d-bloc h5, .d-bloc h6, .d-bloc .ico{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc a{
	color:rgba(255,255,255,.6);
}
.d-bloc a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}


/* Bloc - Light theme */

.l-bloc{
	color:rgba(0,0,0,.5);
}
.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc h1,.l-bloc h2,.l-bloc h3,.l-bloc h4,.l-bloc h5, .l-bloc h6, .l-bloc .ico{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round{
	border-color:rgba(0,0,0,.7);
}
.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.l-bloc a{
	color:rgba(0,0,0,.6);
}
.l-bloc a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.l-bloc .btn-wire, .l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}

/* Row Margin Offsets */

.voffset{
	margin-top:30px;
}


/* Custom bloc styling */

#bloc-10 {
	margin-top: 2em;
}
#fondo-nav{
	background-color:rgb(244,174,76);
}
#inico,#inicio-feat,#nosotros,#nosotros-feat,#servicios,#promociones,#convenios,#contacto{
	background-color:#fefefe;
}
#fondo-nav h5{
	color:#fefefe;
}


/* Bloc image backgrounds */

.bg-fnd-footer{
	background-image:url('img/fnd-footer.jpg');
}
.bg-fondo-header{
	background-image:url('img/fondo_header.jpg');
}

/* NavBar */

.navbar{
	margin-bottom: 0;
}
.navbar-brand{
	height:auto;
	padding:15px 15px;
	font-size:25px!important;
	font-weight:normal;
	font-weight:600;
}
.navbar-brand img{
	max-height: 200px;
	margin: 0 5px 0 0;
	display:inline;
}
.navbar-brand{
	padding: 15px 15px;
}
.navbar .nav{
	padding-top: 2px;
	margin-right: -16px;
	float:right;
}
.nav > li {

	float:left;
	margin-top:4px;
	font-size:16px;
}
.nav > li a:hover, .nav > li a:focus{
	background:transparent;
}
.navbar-toggle{
	margin: 10px 10px 0 0;
	border: 0px;
}
.navbar-toggle:hover{
	background:transparent!important;
}
.navbar-toggle .icon-bar{
	background-color: rgba(0,0,0,.5);
	width: 26px;
}
 /* Inverted navbar */

.nav-invert .navbar .nav{
	float:left;
}
.nav-invert .navbar-header, .nav-invert .navbar-brand{
	float:right;
}
@media (min-width: 768px){
	.site-navigation{
		position:absolute;
		top:50%;
		right:20px;
		transform:translate(0, -50%);
		-webkit-transform:translateY(-50%);
	}
	.nav-invert .site-navigation{
		left:20px;
		right:0;
	}
}

/* Bric adjustment margins */

.mg-sm{
	margin-top:10px;
	margin-bottom:5px;
}

.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}
img.mg-sm,img.mg-md,img.mg-lg{
	margin-top: 0;
}
img.mg-sm{
	margin-bottom:10px;
}
img.mg-md{
	margin-bottom:30px;
}
img.mg-lg{
	margin-bottom:50px;
}

/* Buttons */

.btn{
	margin: 0 5px 5px 0;
}
.btn.pull-right{
	margin: 0 0 5px 5px;
}
.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF!important;
	background:rgba(0,0,0,.3);
}


/* Link colour styles */

.ltc-3{
	color:#fefefe!important;
}
.ltc-3:hover{
	/*color:#cbcbcb!important;*/
}
.ltc-2{
	color:#cd9e21!important;
}
.ltc-2:hover{
	color:#a47e1a!important;
}





/*Forms*/

.form-control{
	border-color:rgba(0,0,0,.1);
	box-shadow:none;
}

/* iFrame */

iframe{
	border:0;
}
/* Carousel */

.carousel-control span{
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
}
.carousel-control{
	color:#FFF!important;
	text-shadow: none;
}
.carousel-indicators li{
	margin: 0 4px;
}
.carousel-indicators .active{
	margin: 0 4px -1px;
}

/*WEBFRAME CSS*/

#bloc-10 a {
    color: white;
}
.fa-envelope {
	margin-right: 3em;
}
.fa-home {
	margin-left: 2em;
}
.head-mod {
    margin-top: 1em;
    width: 100%;
}
.logo-header {
	width: 70em;
}
.modal-backdrop {
   background-color: rgb(red);
}
.modal-image {
	width: 100%;
}
/*//////////*/
.input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}
.popover   {
    background-color: rgb(42,186,223);
    color: #ecf0f1;
    width: 120px;
}
.popover.right .arrow:after {
    border-right-color: rgb(42,186,223);
}

#red img{
    width: 90%;
}
/* Mobile adjustments */
@media (max-width: 1023px){
    #mapa-reservas img{
        width: 100%;
        margin-bottom: 3.5em;
    }
    #mapa-promociones img {
        margin-bottom: 9em;
    }
    #mapa-convenios img {
        width: 100%;
        margin-bottom: 4em;
    }
    .navbar-right {
        display: none;
    }
    .logo-header {
        width: 50em;
        margin-top: -2em;
        margin-bottom: -2em;
    }
}

@media (max-width: 767px){
    .page-container{
        overflow-x: hidden;
    }
    h1,h2,h3,h4,h5,h6,p{
        padding-left:10px!important;
        padding-right:10px!important;
    }
    #hero-bloc h1{
        font-size:40px;
    }
    #hero-bloc h2{
        font-size:34px;
    }
    #hero-bloc h3{
        font-size:25px;
    }
    .bloc{
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        -webkit-background-size: auto 200%;
        -moz-background-size: auto 200%;
        -o-background-size: auto 200%;
        background-size: auto 200%;
    }
    .b-parallax{
        background-attachment:scroll;
    }
    .navbar .nav{
        padding-top: 0;
        border-top:1px solid rgba(0,0,0,.2);
        float:none!important;
    }
    .navbar.row{
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation{
	   position:inherit;
	   transform:none;
	   -webkit-transform:none;
	   -ms-transform:none;
    }
    .nav > li{
        margin-top: 0;
        border-bottom:1px solid rgba(0,0,0,.1);
        background:rgba(0,0,0,.05);
        text-align: left;
        width:100%;
    }
    .nav > li:hover{
        background:rgba(0,0,0,.08);
    }
    #hero-bloc .navbar .nav{
        background:rgba(0,0,0,.8);
    }
    #hero-bloc .navbar .nav a{
        color:rgba(255,255,255,.6);
    }
    .hero-nav{
	   left:-1px;
	   right:-1px;
    }
    .navbar-collapse{
        padding:0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img{
        max-height: 40px;
        width:auto;
        margin: -10px 10px 0 0;
    }
    .nav-invert .navbar-header{
        float: none;
        width:100%;
    }
    .nav-invert .navbar-toggle{
        float:left;
    }
    .btn.pull-left, .btn.pull-right{
       float:none!important;
    }
    .bloc-group .bloc{
         display:block;
         width:100%;
     }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
	   padding-left: 10px;
	   padding-right: 10px;
    }
    .bloc-xl,.bloc-lg{
        padding: 40px 0;
    }
    .bloc-sm,.bloc-md{
        padding-left: 0;
        padding-right: 0;
    }
    .a-block{
        text-align: center;
    }
    .btn-dwn{
       display:none;
    }
    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .logo-header {
    	width: 20em;
    	margin-top: -2em;
    	margin-bottom: -2em;
    }
    #fondo-nav .col-sm-12{
    	margin-top: -0.5em;
    	margin-bottom: -0.5em;
    }
    #slidy-container {
    	margin-top: -5em;
    	margin-bottom: -4em;
    }
    #slidy-container-convenios {
    	margin-top: -8em;
    }
    #regiones {
    	margin-top: -3em;
    }
    #slidy-container-promos {
    	margin-top: -3em;
    	margin-bottom: -5em;
    }
    #nosotros-img {
    	margin-top: -1.5em;
    	margin-bottom: -4.5em;
    }
	#nosotros-feat {
		margin-top: -7em;

	}
	#nosotros-feat-bloque-2 {
		margin-top: -3em;
	}
    #servicios_bloque_1 {
    	margin-top: -1em;
    }
    #servicios_bloque_2 {
    	margin-top: -3.5em;
    }
    #reserva_servicios {
    	margin-top: -3em;
    }
    #promociones-bloque-1 {
    	margin-top: -1em;
    }
    #promociones-bloque-2 {
    	margin-top: -3em;
    }
    #reserva-promociones {
    	margin-top: -3em;
    	margin-bottom: -3em;
    }
    /**/
    #convenios-bloque-1 {
    	margin-top: -1em;
    }
    #reserva-convenios {
    	margin-top: -2em;
    }
    #fondo-entrada {
    	display: none;
    }
    #mapa-reservas {
        width: 100%;
        margin-bottom: 3.5em;
    }
}

#implantologia img, #periodoncia img, #endodoncia img, #ortodoncia img, #odontopediatria img, #rehabilitacion_oral img, #cirugia_oral img, #estetica img {
    width: 100%;
}
#implantologia .titulo_modal, #periodoncia .titulo_modal, #endodoncia .titulo_modal, #ortodoncia .titulo_modal, #odontopediatria .titulo_modal, #rehabilitacion_oral .titulo_modal, #cirugia_oral .titulo_modal, #estetica .titulo_modal {
    margin-bottom: 1em;
    margin-top: 1em;
}
#implantologia p, #periodoncia p, #periodoncia ul, #endodoncia p, #ortodoncia p, #odontopediatria p, #rehabilitacion_oral p, #cirugia_oral p, #cirugia_oral ul, #estetica p, #estetica ul {
text-align: justify;
    color: rgb(96,169,214);
}
.foto_rehab {
    margin-top: 1em;
}
.bg-gray {
	background-color: rgb(245,245,245);
}
#profesionales .row {
	padding: 1em 0;
}
